-- Migration: Fix user_roles table constraints and resolve database errors
-- Date: 2025-06-13
-- Description: This migration fixes the conflicting constraints in user_roles table

-- ============================================================================
-- STEP 1: Drop all conflicting constraints and recreate them properly
-- ============================================================================

-- Drop all existing unique constraints on user_roles table
ALTER TABLE public.user_roles 
DROP CONSTRAINT IF EXISTS user_roles_user_id_role_key;

ALTER TABLE public.user_roles 
DROP CONSTRAINT IF EXISTS user_roles_user_id_unique;

-- Drop any other potential unique constraints
DO $$ 
BEGIN
    -- Drop any unique constraints that might exist
    EXECUTE (
        SELECT string_agg('ALTER TABLE public.user_roles DROP CONSTRAINT IF EXISTS ' || quote_ident(conname) || ';', ' ')
        FROM pg_constraint 
        WHERE conrelid = 'public.user_roles'::regclass 
        AND contype = 'u'
    );
EXCEPTION
    WHEN OTHERS THEN
        -- If no constraints exist, continue
        NULL;
END $$;

-- ============================================================================
-- STEP 2: Recreate the proper unique constraint
-- ============================================================================

-- Add the correct unique constraint: allow multiple roles per user but prevent duplicates
ALTER TABLE public.user_roles 
ADD CONSTRAINT user_roles_user_id_role_key UNIQUE (user_id, role);

-- ============================================================================
-- STEP 3: Ensure the table structure is correct
-- ============================================================================

-- Make sure branch_id column exists
DO $$ 
BEGIN
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'user_roles' AND column_name = 'branch_id') THEN
        ALTER TABLE public.user_roles ADD COLUMN branch_id UUID REFERENCES public.branches(id);
    END IF;
END $$;

-- ============================================================================
-- STEP 4: Clean up any duplicate entries
-- ============================================================================

-- Remove any duplicate user_id, role combinations
DELETE FROM public.user_roles 
WHERE id NOT IN (
    SELECT MIN(id) 
    FROM public.user_roles 
    GROUP BY user_id, role
);

-- ============================================================================
-- STEP 5: Update the sync function to handle conflicts properly
-- ============================================================================

CREATE OR REPLACE FUNCTION public.sync_auth_user_to_users()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
BEGIN
  -- Insert or update in users table
  INSERT INTO public.users (id, username, name, phone, role, status, created_at, updated_at)
  VALUES (
    NEW.id,
    COALESCE(NEW.email, ''),
    COALESCE(NEW.raw_user_meta_data->>'name', NEW.email, ''),
    COALESCE(NEW.raw_user_meta_data->>'phone', ''),
    COALESCE(NEW.raw_user_meta_data->>'role', 'user'),
    CASE WHEN NEW.email_confirmed_at IS NOT NULL THEN 'active' ELSE 'inactive' END,
    NOW(),
    NOW()
  )
  ON CONFLICT (id) DO UPDATE
    SET
      username = COALESCE(EXCLUDED.username, users.username),
      name = COALESCE(EXCLUDED.name, users.name),
      phone = COALESCE(EXCLUDED.phone, users.phone),
      role = COALESCE(EXCLUDED.role, users.role),
      status = EXCLUDED.status,
      updated_at = NOW();

  -- Insert role into user_roles table if it's a dispenser-related role
  IF COALESCE(NEW.raw_user_meta_data->>'role', 'user') IN ('dispenser', 'admin', 'system_admin', 'branch_system_admin', 'regional_manager') THEN
    INSERT INTO public.user_roles (user_id, role, created_at)
    VALUES (
      NEW.id, 
      COALESCE(NEW.raw_user_meta_data->>'role', 'user')::app_role,
      NOW()
    )
    ON CONFLICT (user_id, role) DO NOTHING;
  END IF;

  RETURN NEW;
END;
$$;

-- ============================================================================
-- STEP 6: Create a helper function for safe role assignment
-- ============================================================================

CREATE OR REPLACE FUNCTION public.assign_user_role(
    p_user_id UUID,
    p_role app_role,
    p_branch_id UUID DEFAULT NULL
)
RETURNS BOOLEAN
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
BEGIN
    -- First, ensure the user exists in the users table
    IF NOT EXISTS (SELECT 1 FROM public.users WHERE id = p_user_id) THEN
        -- Try to sync from auth.users
        INSERT INTO public.users (id, username, name, phone, role, status, created_at, updated_at)
        SELECT 
            au.id,
            COALESCE(au.email, ''),
            COALESCE(au.raw_user_meta_data->>'name', au.email, 'User'),
            COALESCE(au.raw_user_meta_data->>'phone', ''),
            COALESCE(au.raw_user_meta_data->>'role', 'user'),
            CASE WHEN au.email_confirmed_at IS NOT NULL THEN 'active' ELSE 'inactive' END,
            COALESCE(au.created_at, NOW()),
            NOW()
        FROM auth.users au
        WHERE au.id = p_user_id
        ON CONFLICT (id) DO NOTHING;
    END IF;

    -- Now assign the role
    INSERT INTO public.user_roles (user_id, role, branch_id, created_at)
    VALUES (p_user_id, p_role, p_branch_id, NOW())
    ON CONFLICT (user_id, role) 
    DO UPDATE SET 
        branch_id = COALESCE(EXCLUDED.branch_id, user_roles.branch_id),
        created_at = NOW();

    RETURN TRUE;
EXCEPTION
    WHEN OTHERS THEN
        RAISE NOTICE 'Error assigning role: %', SQLERRM;
        RETURN FALSE;
END;
$$;

-- ============================================================================
-- STEP 7: Update RLS policies to ensure proper access
-- ============================================================================

-- Drop existing policies that might conflict
DROP POLICY IF EXISTS "Admins can manage all roles" ON public.user_roles;
DROP POLICY IF EXISTS "System admins can manage all user roles" ON public.user_roles;

-- Create comprehensive policies
CREATE POLICY "System admins can manage all user roles"
  ON public.user_roles
  FOR ALL
  USING (public.has_role(auth.uid(), 'system_admin'));

CREATE POLICY "Regional managers can view all user roles"
  ON public.user_roles
  FOR SELECT
  USING (public.has_role(auth.uid(), 'regional_manager'));

CREATE POLICY "Branch admins can view their branch user roles"
  ON public.user_roles
  FOR SELECT
  USING (public.has_role(auth.uid(), 'admin', branch_id));

CREATE POLICY "Users can view their own roles"
  ON public.user_roles
  FOR SELECT
  USING (auth.uid() = user_id);

-- ============================================================================
-- STEP 8: Grant necessary permissions
-- ============================================================================

-- Grant permissions to authenticated users
GRANT SELECT ON public.user_roles TO authenticated;
GRANT INSERT, UPDATE, DELETE ON public.user_roles TO authenticated;

-- Grant permissions to the function
GRANT EXECUTE ON FUNCTION public.assign_user_role(UUID, app_role, UUID) TO authenticated;

-- ============================================================================
-- STEP 9: Verify the migration
-- ============================================================================

DO $$
BEGIN
    -- Check if the unique constraint exists
    IF NOT EXISTS (
        SELECT 1 FROM pg_constraint 
        WHERE conrelid = 'public.user_roles'::regclass 
        AND conname = 'user_roles_user_id_role_key'
    ) THEN
        RAISE EXCEPTION 'user_roles_user_id_role_key constraint was not created successfully';
    END IF;
    
    -- Check if the function exists
    IF NOT EXISTS (
        SELECT 1 FROM pg_proc 
        WHERE proname = 'assign_user_role'
    ) THEN
        RAISE EXCEPTION 'assign_user_role function was not created successfully';
    END IF;
    
    RAISE NOTICE 'User roles constraints fixed successfully!';
END $$;
